<html>

    <head>
    <link rel="icon" type="image/x-icon" href="http://example.com/favicon.ico" />
    
     <title>Trip sitter</title>
    
    </head>

    <body>

        <h1>Track your trips!</h1>
        <h3>Name of city</h3>

        <form action="/trips" method="post">
        <input type="text" name="title"/>
        <h3>Image of trip</h3>
        <input type="text" name="imageURL"/>
        <input type="submit"/>
        </form>



        <h3>Trips</h3>

         {{! starting of the loop  }}
        {{#tripListing}}

            <div>{{title}}</div>
            <img src='{{imageURL}}' width="200" height="200" />
            <input type="hidden" name="tripId" value='{{tripId}}' />
            <input type="submit" value="Delete" />

        {{/tripListing}}

       {{! creating forms so we can submit tripId for deletion  }}

       <!-- <form action='/deleteTrip' method='post'> -->
            
        </form>

    </body>

</html>