<html>

    <head>

    <title>Trip sitter</title>
    
    </head>

    <body>

        <form style="inline" action="/pages/home" method="get">
        <input style="inline" type="submit" name="home" value="home"/></br>
        </form>

        <form style="inline" action="/pages/login" method="get">
        <input style="inline" type="submit" name="login" value="login"/></br>
        </form>

         <h3>Please Login</h3>

        <form action="/login" method="post">
            <input type="text" name="username"/>
            <input type="password" name="password"/> 
            <input type="submit"/>
        </form>

    </body>

</html>