<html>

    <head>
    
    </head>

    <body>

        <h3>Track your trips!</h3>
        <h6>Name of city</h6>
        
        <form action="/trips" method="post">
        <input type="text" name="title"/>
        <h6>Image of trip</h6>
        <input type="text" name="imageURL"/>
        <input type="submit"/>
        </form>

    </body>

</html>