<html>

    <head>
        <title>Trip sitter</title>
    </head>

    <body>

    <form style="inline" action="pages/home" method="get">
    <input type="submit" name="home" value="home"/></br>
    </form>

    <form action="../login" method="get">
    <input type="submit" name="login" value="login"/></br>
    </form>

    <form action="/trips" method="get">
    <input type="submit" name="trips" value="trips"/></br>
    </form>
    
    </body>

</html>